<h1>Create Flyer</h1>
<form class="" action="/api/flyer/create" method="post" enctype="multipart/form-data">
	<input type="file" name="flyer" value="">
	<label for="testflyer">TestFlyer</label>
	<input type="text" name="testflyer" value="test flyer" id="testflyer">
	<input type="submit" name="Submit" value="Submit">
</form>
