<h1>Create Flyer</h1>
<form class="" action="/flyer/create" method="post" enctype="multipart/form-data">
	<input type="file" name="flyer" value="">
	<label for="title">TestFlyer</label>
	<input type="text" name="title" value="Title" id="title">
	<label for="communityid">CommunityId</label>
	<input type="text" name="communityid"
	value="5f263e14fc876d193c144d15" id="communityid">
	<input type="submit" name="Submit" value="Submit">
</form>
