<h1>Create Community</h1>
<form class="" action="/community/create" method="post">
	<label for="name">Name</label>
	<input type="text" name="name">
	<br>
	<input type="submit" name="Submit" value="Submit">
</form>
