<form class="" action="/user/create" method="post">
	<label for="username">UserName</label>
	<input type="text" name="username">
	<br>
	<label for="email">Email</label>
	<input type="email" name="email">
	<br>
	<label for="password">Password</label>
	<input type="password" name="password">
	<br>
	<label for="coordinator">Coordinator</label>
	<input type="text" name="coordinator">
	<br>
	<label for="phone">Phone</label>
	<input type="text" name="phone">
	<br>
	<fieldset>
		<p>Choose Communities</p>
		<% communities.forEach(c => { %>
			<input type="checkbox" name="communities" value="<%= c.name %>" id="<%= c._id %>">
			<label for=<%= c.name %>><%= c.name %></label>
			<br>
		<% })%>
	</fieldset>
	<fieldset>
		<label for="admin">User Type</label>
		<select name="admin">
			<option value="0">Normal User</option>
			<option value="1">Coordinator</option>
			<option value="2">Manager</option>
		</select>
	</fieldset>
	<input type="submit" name="Submit" value="Submit">
</form>
