<h1>Create New Event</h1>
<form action="/event/create" method="post">
	<label for="name">Name</label>
	<input type="text" name="name" id="name">
	<br>
	<label for="location">Location</label>
	<input type="text" name="location" id="location">
	<br>
	<label for="description">Event Description</label>
	<input type="text" name="description" id="description">
	<br>
	<label for="date">Start Date</label>
	<input type="date" name="date" id="date">
	<br>
	<label for="start">Start Time</label>
	<input type="text" name="start" id="start">
	<br>
	<label for="end">End Time</label>
	<input type="text" name="end" id="end">
	<br>
	<label for="creator">Creator</label>
	<input type="text" name="creator" id="creator" value="5f28f4b19a8c280c970034fd">
	<label for="communityId">CommunityId</label>
	<input type="text" name="communityId" id="communityId" value="5f263e14fc876d193c144d15">
	<input type="submit" name="submit" value="submit">
</form>
